CONFIG_VENDOR=XIAOMI
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="MI-MINI"
CONFIG_FIRMWARE_CPU_600MHZ=y
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_SWAP=y

CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
